name,url,username,password
site.com,https://www.site.com/passwordFormPage,admin,hunter2
site1.com,https://www.site1.com/passwordFormPage,admin,hunter3
site2.com,https://www.site2.com/passwordFormPage,admin,hunter4